body {

    touch-action: none;
    user-select: none;
    background-image: url(img/bacg.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}


canvas {
    border: 1px solid #000;
    display: none;
    margin: 0 auto;
    touch-action: none;
    user-select: none;
    width: 700px;
    height: 100vh;



}

#container {

    box-sizing: border-box;
    height: 100vh;



}


* {
    margin: 0;
    box-sizing: border-box;
}

#canContainer {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

#startdiv {
    display: block;
    background-image: url('img/start-bac.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: round;
    z-index: 10;

}

#startbutton img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 150px;
    height: 80px;
    top: 40%;
    left: calc(50% - 75px);
    cursor: pointer;
    transition: transform 0.5s;
}

#startbutton img:hover {
    transform: scale(1.2);
}



#startdiv h1 {
    font-family: 'Rubik Iso', cursive;
    font-size: 75px;
    position: absolute;
    top: 10%;
    left: calc(50% - 175px);
}

#optionbtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}

#optionbtn button {
    width: 130px;
    height: 50px;
    background-color: #6893fd;
    border-radius: 20px;
    font-family: 'Rubik Iso', cursive;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    border: #000 solid 2px;


}

#optionbtn button:hover {
    transform: scale(1.2);
}

#rules {
    display: none;
    flex-direction: row-reverse;
    border: solid 10px;
    position: absolute;
    width: 700px;
    right: 20%;
    top: 60%;
    font-family: 'Bungee Spice', cursive;
    font-size: 21px;
    background-color: #dabea8;



}

#rules #text {
    margin-right: 30px;
}

#hiderules {
    position: absolute;
    right: -3px;
    top: -15px;
    width: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
    margin: 15px 10px;
    height: 30px;
    transition: transform 0.5s;
    cursor: pointer;
}

#hiderules:hover {
    transform: scale(1.2);
}


#hiderules span {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    margin: 5px 0;
    top: 9px;
    left: 0;
    position: absolute;
    transform: rotate(45deg);
}

#hiderules span:last-child {
    transform: rotate(-45deg);

}

#back_menu {
    display: flex;
    justify-content: flex-end;
}